* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahom+a, sans-serif;
    box-sizing: border-box;
    /*Ajuda a deixar os elementos organizados dentros das caixas*/
}

header {
    background-color: #4E87A8;
    height: 20vh;
    width: 100%;
}

.nav-cabecalho {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 3em;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding-left: 1em;
}

header nav ul li a {
    color: white;
    font-size: 12px;
}

header nav ul li :hover {
    color: #5163CD;
    transition: 1s;
}

.AbrirConta {
    background: linear-gradient(#BDCCCE, #5DA9A9);
    height: 83vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divConta {
  margin-left: 12%;
}

.divConta h1 {
    font-size: 3em;
    color: #303B3C;
}

.divConta h2 {
    color: #00001D;
    font-size: 1.8em;
    padding-bottom: 0.5em;
}

.botao {
    padding: 1em;
    width: 18em;
    border-radius: 2em;
    color: #13996C;
    border-top: 2px solid #13996C;
    border-left-color: #13996C;
    cursor: pointer;
}

.botao2 {
    padding: 1em;
    width: 18em;
    border-radius: 2em;
    border: 2px solid #3232E2;
    color: #3232E2;
    cursor: pointer;
}

.botao:hover {
    border-top: 2px solid white;
    border-left-color: white;
    border-right-color: #53535334;
    border-bottom-color: #53535334;
}
.linkBotao2 :hover{
    background-color: #3232E2;
    transition: 0.5s;
    color: white;
}

.linkBotao :hover {
    background-color: #5AA8A8;
    transition: 0.5s;
    color: white;
}

.celular {
    background-color: #E2E9E9;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
}

.celularConteudo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.celularTexto {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.celularTexto h3 {
    font-size: 2em;
    color: #250202;
    padding-bottom: 1em;
}

.celularTexto button {
    margin-left: 2em;
}

.educabank {
    background-color: #E2E9E9;
    width: 100%;
    height: 150vh;
}

.educabankConteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 12vw 0;
    padding-top: 10vw;
}

.educabankConteudo h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    padding-bottom: 1em;
    color: #22224A;
}

.educabankConteudo p{
    padding-bottom: 1em;
    color: #626565;
    font-size: 1.2em;
}

.educabankConteudo button {
    margin: 3em;
}

.linha {
    border: 0.2px solid black;
    width: 50%;
    margin-left: 25%;
    margin-top: 1em;
}

.educabankIMG{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.cofre {
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(img/CofreDeFundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;    
}

.cofreConteudo {
    display: flex;
    justify-content: center;

}

.cofreConteudo2 {
    margin-top: 40vh;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
}

.cofreTexto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10vw;
}
.cofreH3 {
    display: flex;
    justify-content: center;
}

.cofreTexto h3 {
    font-size: 1.8em;
    padding-bottom: 1em;
    color: white;    
}

span {
    padding: 0 0.1em;
    color: yellow;
}

.cofreTexto {
    color: white;
    font-size: 1.2em;
}

footer {
    background-color: #1D1C1C;
    width: 100%;
    height: 50vh;
}

.divFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FooterIMG {
    display: flex;
    justify-content: center;
    padding: 5em;
}

.FooterTexto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    color: white;
}

.footerContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerParagrafo {
    display: flex;
    justify-content: center;
}

.Footerlink {
    color: white;
}

.Footerlink:hover {
    color: #DC1431; 
}
